<html>

<head>
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header }}
    <div>
        <a href="{{ redirect }}">Click here to go back to {{ redirectTo }}</a>
    </div>
    {{> footer }}
</body>

</html>